:root {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
}

.container{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;



}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;

}

thead {
  background-color: #666 ;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  color:var(--font-color);
}





/* Reset de Estilos Padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #cccccc;
}

nav {

  color: #fff;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;


  background: #b1b0b0;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.103);

}

.logo {
  background-color: #222;
  padding: 20px;
  text-align: center;
}

.logo h1 {
  font-size: 1.5rem;
  color: #fff;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.menu > li {
  padding: 10px 10px;
  transition: background-color 0.3s ease; /* Adicione uma transição para a cor de fundo */
  cursor: pointer;
}

.menu > li:hover {
  background-color: #444;
}

.submenu {
  list-style-type: none;
  display: none;
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  transform-origin: top center; /* Define o ponto de origem da animação */
}



/* Conteúdo Principal */
main {
  margin-left: 200px;
  padding: 20px;

}

main > div {

 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
 width: 950px;




}

#links{


  text-decoration: none;
  color: inherit;

}
.inputs {

  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  

}

.inputs input {
  margin-right: 10px;


}


main > h1 {

  text-align: center;


}

