
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
      <button class="sidenav-menu-btn" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
          <span *ngIf="sidenav.opened" class="icon"><i class="bi bi-x-lg"></i></span>
      </button>
      <span>
          <img class="logo" [src]="imagePath" alt="Minha Imagem">
          <p>Funcionário</p>
      </span>

      <button  routerLink="/menu-funcionario" class="sidenav-menu-btn">
          <span class="icon"><i class="bi bi-house-door-fill"></i></span>
          <span class="txt-link">Home</span>
      </button>

      <button routerLink="/holerite" class="sidenav-menu-btn">
          <span class="icon"><i class="bi bi-people-fill"></i></span>
          <span class="txt-link">Holerite</span>
      </button>

      <button routerLink="/" class="sidenav-menu-btn">
          <span class="icon"><i class="bi bi-backspace-fill"></i></span>
          <span class="txt-link">Sair</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
    <nav>
        <button class="toolbar-menu-btn" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <span *ngIf="!sidenav.opened" class="icon"><i class="bi bi-list"></i></span>
        </button>
    </nav>

    <main>
      <div class="form-group">
        <form>
          <h1 style="text-align: center;">Consulta de Holerites</h1>
          <div class="inputs">
            <input type="search" [(ngModel)]="data"  name="data" id="" placeholder="ANO/MÊS/DIA">
            <button class="bnt-submit-padrao" (click)="ObterHoleriteUnico()">PESQUISAR</button>
          </div>

            <div class="container">

              <!--
                versão em labels
              -->
              <div class="content-holerite" *ngIf="holerite$ | async as holerite">
                <p><strong>ID:</strong> {{ holerite.id }}</p>
                <p><strong>ID da Empresa:</strong> {{ holerite.idempresa }}</p>
                <p><strong>CPF:</strong> {{ holerite.cpf }}</p>
                <p><strong>Matrícula do Funcionário:</strong> {{ holerite.matfuncionario }}</p>
                <p><strong>Data de Pagamento:</strong> {{ holerite.datapgto | date:'yy/MM/dd' }}</p>
                <p><strong>Valor:</strong> {{ holerite.valor | currency:'BRL' }}</p>
                <p><strong>Nome:</strong> {{ holerite.nome }}</p>
                <p><strong>Função:</strong> {{ holerite.funcao }}</p>
                <p><strong>Setor:</strong> {{ holerite.setor }}</p>
              </div>
              

              <!--
                Tabela

              -->
              <!--
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Empresa</th>
                    <th>Cpf</th>
                    <th>Matrícula do Funcionário</th>
                    <th>Data de Pagamento</th>
                    <th>Valor</th>
                    <th>Nome</th>
                    <th>Função</th>
                    <th>Setor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="holerite$ | async as holerite">
                    <td>{{ holerite.id }}</td>
                    <td>{{ holerite.idempresa }}</td>
                    <td>{{ holerite.cpf }}</td>
                    <td>{{ holerite.matfuncionario }}</td>
                    <td>{{ holerite.datapgto | date:'yy/MM/dd' }}</td>
                    <td>{{ holerite.valor | currency:'BRL' }}</td>
                    <td>{{ holerite.nome }}</td>
                    <td>{{ holerite.funcao }}</td>
                    <td>{{ holerite.setor }}</td>
                  </tr>
                </tbody>
              </table>

              -->

            </div>
          </form>
      </div>

    </main>

  </mat-sidenav-content>
</mat-sidenav-container>


