<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
      <button class="sidenav-menu-btn" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
          <span *ngIf="sidenav.opened" class="icon"><i class="bi bi-x-lg"></i></span>
      </button>
      <span>
          <img class="logo" [src]="imagePath" alt="Minha Imagem">
          <p>Gerente</p>
      </span>

      <button routerLink="/menu-gerente" class="sidenav-menu-btn">
          <span class="icon"><i class="bi bi-house-door-fill"></i></span>
          <span class="txt-link">Home</span>
      </button>

      <button routerLink="/cadastro-funcionario" class="sidenav-menu-btn">
          <span class="icon"><i class="bi bi-person-fill-add"></i></span>
          <span class="txt-link">Cadastro de Funcionários</span>
      </button>

      <button class="sidenav-menu-btn">
          <span class="icon"><i class="bi bi-people-fill"></i></span>
          <span class="txt-link">Consultar Funcionários</span>
      </button>

      <button routerLink="das" class="sidenav-menu-btn">
          <span class="icon"><i class="bi bi-bar-chart-fill"></i></span>
          <span class="txt-link">Dashboard</span>
      </button>

      <button routerLink="/" class="sidenav-menu-btn">
          <span class="icon"><i class="bi bi-backspace-fill"></i></span>
          <span class="txt-link">Sair</span>
      </button>
  </mat-sidenav>
  <mat-sidenav-content>
      <nav>
          <button class="toolbar-menu-btn" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
              <span *ngIf="!sidenav.opened" class="icon"><i class="bi bi-list"></i></span>
          </button>
      </nav>
      <main>
          <h1>Cadastro de Novos Funcionários</h1>
          <p>Siga as instruções para a admissão do novo funcionário.</p>
          <form>
              <fieldset>
                  <legend>Informações Pessoais</legend>
                  <div class="form-row">
                          <div class="form-group">
                              <label for="nome">Nome completo:</label>
                              <input [(ngModel)]="nomeAdicionar" type="text" id="nome" name="nomeAdicionar" required>
                          </div>
                          <div class="form-group">
                              <label for="cpf">CPF:</label>
                              <input [(ngModel)]="cpfAdicionar" type="text" id="cpf" name="cpfAdicionar" required>
                          </div>
                          <div class="form-group">
                              <label for="rg">RG:</label>
                              <input [(ngModel)]="rgAdicionar" type="text" id="rg" name="rgAdicionar" required placeholder="XX.XXX.XXX-X">
                          </div>

                          <div class="form-group">
                              <label for="pis">PIS:</label>
                              <input [(ngModel)]="pisAdicionar" type="text" id="pis" name="pisAdicionar" required>
                          </div>
                          <div class="form-group">
                              <label for="cep">CEP:</label>
                              <input [(ngModel)]="cepAdicionar" type="text" id="cep" name="cepAdicionar" required>
                          </div>
                  </div>
              </fieldset>

          <!-- Informações de Contato -->
          <fieldset>
              <legend>Informações de Contato</legend>
              <div class="form-row">
                  <div class="form-group">
                      <label for="email">Email:</label>
                      <input [(ngModel)]="emailAdicionar" type="email" id="email" name="emailAdicionar" required placeholder="email@gmail.com">
                  </div>
                  <div class="form-group">
                      <label for="telefone">Telefone:</label>
                      <input [(ngModel)]="telefoneAdicionar" type="tel" id="telefone" name="telefoneAdicionar" required>
                  </div>
              </div>
          </fieldset>

          <!-- Informações do Cargo -->
          <fieldset>
              <legend>Informações do Cargo</legend>
              <div class="form-row">
                  <div class="form-group">
                      <label for="dataAdmissao">Admissão:</label>
                      <input [(ngModel)]="dataAdmissao" type="text" id="dataAdmissao" name="dataAdmissao" required placeholder="2023-09-13">
                  </div>
                  <div class="form-group">
                      <label for="setor">Empresa:</label>
                      <input [(ngModel)]="idempresaAdicionar" type="text" id="empresa" name="idempresaAdicionar" required placeholder="3">
                  </div>
                  <div class="form-group">
                      <label for="setor">Setor:</label>
                      <input [(ngModel)]="setorAdicionar" type="text" id="setor" name="setorAdicionar" required placeholder="TI">
                  </div>
                  <div class="form-group">
                      <label for="funcao">Função:</label>
                      <input [(ngModel)]="funcaoAdicionar" type="text" id="funcao" name="funcaoAdicionar" required placeholder="Desenvolvedor">
                  </div>
                  <div class="form-group">
                      <label for="jornadaTrabalho">Jornada:</label>
                      <input [(ngModel)]="jornadaAdicionar" type="number" id="jornadaTrabalho" name="jornadaAdicionar" required placeholder="220">
                  </div>
              </div>
          </fieldset>

          <!-- Informações de Benefício -->
          <fieldset>
              <legend>Informações de Benefício</legend>
              <div class="form-row">
                  <div class="form-group">
                      <label for="salarioBase">Salário Base:</label>
                      <input [(ngModel)]="salarioAdicionar" type="number" id="salarioBase" name="salarioAdicionar" required placeholder="2300">
                  </div>
                  <div class="form-group radio-options">
                      <label for="porcentagemInsalubridade">
                          Porcentagem para Insalubridade:
                        <input [(ngModel)]="insalubridadeAdicionar" type="number" name="insalubridadeAdicionar" id="" placeholder="0.10">
                      </label>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group radio-options">
                      <label>Adicional periculosidade:
                        <input [(ngModel)]="periculosidadeAdicionar" type="number" name="periculosidadeAdicionar" id="" placeholder="0.10">
                      </label>
                  </div>
                  <div class="form-group">
                      <label for="numeroFilhos">Número de filhos:</label>
                      <input [(ngModel)]="dependenteAdicionar" type="number" id="numeroFilhos" name="dependentesAdicionar">
                  </div>
                  <div class="form-group">
                    <label>Vale Refeição:
                      <input [(ngModel)]="valerefeicaoAdicionar" type="number" name="valerefeicaoAdicionar" id="" placeholder="0.10">
                    </label>
                  </div>
              </div>
          </fieldset>
          <fieldset>
            <legend>Informações de Login</legend>
            <div class="form-row">
                <div class="form-group">
                    <label for="usuario">Usuário:</label>
                    <input [(ngModel)]="usuarioAdicionar" type="text"  id="usuario" name="usuario" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input [(ngModel)]="senhaAdicionar" type="text" id="senha" name="senha" required>
                </div>
            </div>
        </fieldset>
              <button class="btn-cadastro-func" type="reset">Limpar dados</button>
              <button class="btn-cadastro-func" type="submit" (click)="CadastrarFuncionario()">Cadastrar</button>
          </form>
      </main>
  </mat-sidenav-content>
</mat-sidenav-container>
