@import url('../global_css/menu-lateral-ang_material.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,600&family=Roboto:wght@500;700&display=swap');

/* Reset de Estilos Padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Raleway';

}

/* Estilos Gerais */
body {
  font-family: 'Roboto', 'Raleway';
  background-color: #cccccc;

}


/* Conteúdo Principal */
main {
  padding: 20px;
}

main > div > img{

 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;

}

#links{


  text-decoration: none;
  color: inherit;

}
