@import url('../global_css/global.css');

/* Reset de Estilos Padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #cccccc;
}


/* Conteúdo Principal */
main {
  margin-left: 200px;
  padding: 20px;
}

main > div > img{

 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;

}

#links{


  text-decoration: none;
  color: inherit;

}